@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Antipasto Pro Medium";
  src: url("/fonts/antipasto/AntipastoPro-Medium_trial.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

.font-antipasto {
  font-family: "Antipasto Pro Medium", sans-serif !important;
}

/* Slick Slider */
.slick-slide > div {
  display: grid;
  place-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  display: none;
  top: 50% !important;
  left: 10px !important;
  transform: translateY(-400%) !important;
}


.react-datetime-picker__wrapper{
  border-style: none !important;
}
/* Dots */

/* Custom Slick Dots */

/* VoiceWave Animation */
.wave-container {
  width: 480px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.neon-bar {
  fill: #00f5ff;
  opacity: 0.85;
  filter: url(#glow);
  transition: height 0.12s, y 0.12s, opacity 0.12s;
  box-shadow: 0 0 8px #00f5ff, 0 0 16px #00f5ff;
}

.neon-bar-red {
  fill: #ff0033;
  opacity: 0.7;
  filter: url(#glow);
  transition: height 0.10s, y 0.10s, opacity 0.10s;
  box-shadow: 0 0 8px #ff0033, 0 0 16px #ff0033;
}

.flat-line {
  stroke: #222;
  stroke-width: 2;
}

.ft-slick__dots--custom {
  height: 20px;
  width: 20px;
  /* background-color: #ffb636; */
  border-radius: 100%;
  border: 1px solid #c1001f;
  /* padding-top: 0%; */
  position: relative;
  top: 30px;
  transition: all 0.5s ease-in-out;
  /* padding: 2px; */
}

.slick-dots li {
  width: 20px;

  transition: all 0.5s ease-in-out;
}

.slick-active {
  width: 20px;
  /* top: -15px; */

  /* transition: width 0.3s ease-in-out; */
  transition: all 0.5s ease-out;
}

.slick-active .ft-slick__dots--custom {
  width: 20px;
  background-color: #c1001f;
  border-radius: 100%;
  overflow: hidden;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f5f0;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Dashes style for specific slider */
.ft-slick__dashes--custom {
  height: 4px;
  width: 24px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #c1001f;
  position: relative;
  top: 30px;
  transition: all 0.3s ease-in-out;
}

.slick-active .ft-slick__dashes--custom {
  background-color: #c1001f;
}
